<form>
  <fieldset>
    <div class="form-group">
      <label for="screenname">Screen Name</label>
      <input type="text" name="screenname" class="form-control" placeholder="Disabled input">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="rememberme">Remember Me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    {{name}}
  </fieldset>
</form>