<div class="list-group">
  <a href="#" class="list-group-item"><span class="badge">2</span>Game 1</a>
  <a href="#" class="list-group-item"><span class="badge">2</span>Game 2</a>
  <a href="#" class="list-group-item"><span class="badge">2</span>Game 3</a>
  <a href="#" class="list-group-item"><span class="badge">2</span>Game 4</a>
</div>